* {
  padding: 0px;
  margin: 0px;
  font-family: "Urbanist";
}

@mixin flexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}

.header {
  background-color: #141414;
  color: white;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;

  .header-container {
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      width: 25vw;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fafaff;
      margin-left: 10px;
    }
  }

  .logo {
    display: flex !important;
    flex-direction: row-reverse !important;
    font-size: 1.5rem;
    align-items: center;
    color: #da22ff;
  }

  .nav {
    width: 25vw;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  a {
    color: whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(#9733ee, #9733ee);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    cursor: pointer;
  }

  a:hover {
    background-size: 100% 0.1em;
    cursor: pointer;
  }

  .userInfo {
    width: 25vw;
    text-align: end;
  }

  .logout {
    background-image: linear-gradient(
      to right,
      #da22ff 0%,
      #9733ee 51%,
      #da22ff 100%
    );
    padding: 8px 30px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 600;
  }

  .logout:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

.loginPage {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("https://wallpapercave.com/wp/wnCoprl.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  @include flexBox();

  h1 {
    color: white;
    font-weight: bold;
    padding-left: 10px;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
    color: whitesmoke;
  }

  .LoginForm {
    background: rgba(0, 0, 0, 0.6);
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 75px;
    padding-right: 75px;

    span {
      color: red;
    }

    .logo {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
    }

    .svg-inline--fa.fa-video {
      color: #9733ee;
      font-size: 1.5rem;
    }
  }

  input {
    background-color: #333333;
    border: none;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input::placeholder {
    padding-left: 7px !important;
  }

  .buttonDiv {
    @include flexBox();
    width: 300px;

    p {
      color: whitesmoke;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    span {
      padding-left: 5px;
    }
  }

  .loginBtn {
    background-image: linear-gradient(
      to right,
      #da22ff 0%,
      #9733ee 51%,
      #da22ff 100%
    );
    padding-top: 12px;
    padding-bottom: 12px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: 1px solid #9733ee;
    font-weight: 600;
  }

  .loginBtn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

.logOut {
  border-color: #e50914;
  color: white;
  border: none;
  background-color: #e50914;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 20px;
}
.logOut:hover {
  background-color: #ba1926;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.navbar {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.hero {
  background-color: #9733ee;
  height: 500px;
  width: 100vw;
  background: linear-gradient(
      to bottom,
      rgba(151, 51, 238, 0.5),
      rgba(20, 20, 20, 1)
    ),
    url("https://images.unsplash.com/photo-1568876694728-451bbf694b83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: whitesmoke;
}

.hero-text {
  width: 1200px;
  padding-bottom: 30px;

  h1 {
    font-size: 5rem;
    color: whitesmoke;
    line-height: 1;
  }

  span {
    word-spacing: 1px;
    color: rgb(168, 168, 168);
  }
}

.movies {
  width: 78vw;
  margin: 0 auto;
  padding-top: 35px;
  display: grid;
  grid-template-columns: 230px 230px 230px 230px 230px;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;

  .watchBtn {
    color: black;
    border: none;
    background-color: #ffffff;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    margin-right: 5px;
    font-weight: 800;
  }

  .watchBtn:hover {
    background-color: #ced4da;
  }

  .moviesBtn {
    border-color: #e50914;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    margin-left: 5px;
  }

  .moviesBtn:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .movie {
    color: whitesmoke;
    margin: 0 auto;
    text-align: left;
    height: 360px;
  }

  .movie img {
    height: 230px;
    width: 230px;
  }

  .movie img:hover {
    transition: all 0.8s ease-in-out;
    opacity: 0.7;
  }

  .movie-icons {
    width: 75px;
    padding-top: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
  }

  #edit-icon:hover,
  #delete-icon:hover,
  #film-icon:hover {
    color: #af5ff6;
  }
  .movie:hover {
    transform: scale(1.1);
    transition: all 0.8s ease-in-out;
  }
}

.editBtn {
  color: black;
  border: none;
  background-color: #ffffff;
  padding-left: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 35px;
  font-weight: 800;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.deleteBtn {
  border: 1px solid whitesmoke;
  color: white;
  background: none;
  padding-left: 35px;
  padding-top: 7px;
  border-radius: 20px;
  padding-bottom: 7px;
  padding-right: 35px;
}

.editBtn:hover,
.addMovieBtn:hover,
.allMoviesBtn:hover,
.allMembersBtn:hover,
.addMemberBtn:hover,
.subNewMovie:hover,
#addBtn:hover,
#cancelBtn:hover,
#searchBtn:hover {
  background-color: #ced4da;
}

.deleteBtn:hover {
  background-color: purple;
}

.searchBar {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: flex-end;

  input {
    width: 600px;
    padding: 15px;
    border-radius: none;
    font-size: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #757575;
    background: black
      url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 25px;
  }
}

.btns {
  text-align: center;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}

.allMoviesBtn,
.addMovieBtn,
.allMembersBtn,
.addMemberBtn,
.subNewMovie,
.subscribeBtn,
.addMemberForm button,
.addMovieForm button,
#addBtn,
#cancelBtn {
  color: black;
  border: none;
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  color: white;
  padding-left: 35px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 35px;
  margin-right: 5px;
  font-weight: 800;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: 0.5s;
  background-size: 200% auto;
}

.addMovieBtn:hover,
.subNewMovie:hover,
.addMemberBtn:hover,
.subscribeBtn:hover,
.addMemberForm button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.addMovie,
.editMovie,
.editMember,
.addMember {
  @include flexBox();
  background-color: black;

  input {
    background: none;
    border: none;
    width: 350px;
    border-bottom: 1px solid white;
    border-radius: 0px;
    color: rgb(194, 194, 194);
  }

  label {
    color: rgb(234, 234, 234) !important;
  }
}

.memberDiv {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: whitesmoke;
  width: 265px;

  div {
    color: white;
    font-weight: 600;
  }

  span {
    font-weight: 600;
  }

  .member-icons {
    font-size: 1.5rem;

    #delete-icon {
      padding-left: 15px;
    }

    svg:hover {
      color: #9733ee;
    }
  }
}

.subscriptionsPage {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  margin: 0 auto;
  padding-top: 30px;
  height: 60vh;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
}

.memberDiv:hover {
  transform: translateY(-8px);
  webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#moviesWatched {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 155px;
  overflow-y: auto;
}

.subsWatched {
  background-color: #000000c7;
  position: absolute;
  overflow-y: auto;
  text-align: center;
  justify-content: center;
  width: 230px;
  height: 182px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  margin-top: -305px;
  flex-direction: column;
}

.subsWatched a,
.moviesWatched a {
  color: rgb(0, 200, 255);
}

.subsWatched a:hover,
.moviesWatched a:hover {
  color: rgb(0, 200, 255);
}

.subscribeDiv {
  background-color: #000000;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: fadein 1s;
  width: 270px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  input,
  select {
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1rem;
    margin: 5px;
    border-radius: 20px;
  }

  select {
    width: 225px;
  }

  input[type="submit"] {
    border-radius: 20px;
    width: 225px;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.specificMovie {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.specificMovieCard {
  color: whitesmoke;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.specificMovie img {
  width: 40vw;
  height: 75vh;
}

.specificContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vh;

  button {
    margin: 0 auto;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: whitesmoke;
  }
  span {
    padding-left: 5px;
    padding-right: 5px;
  }
  p {
    text-align: center;
    line-height: 2;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.addMember,
.addMovie {
  height: 100vh;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addMemberForm h1 {
  align-self: start;
  padding-left: 90px;
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
}

.addMovieForm {
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding-left: 125px;
    align-self: start;
    font-size: 2.8rem;
    color: white;
    font-weight: bold;
  }
}

.addMemberForm {
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 1200px;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding-left: 125px;
    align-self: start;
    font-size: 2.8rem;
    color: white;
    font-weight: bold;
  }
}

.submitBtnDiv {
  width: 65vw;
  display: flex;
  justify-content: end;
}

.addMovieForm input[type="submit"],
.addMemberForm input[type="submit"],
.specificContent button {
  align-self: start;
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  padding: 7px 22px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}

.addMovieForm input[type="submit"]:hover,
.addMemberForm input[type="submit"]:hover,
.specificContent button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.addMovieForm input[type="file"] {
  width: 350px;
  background-color: #141414;
  border: none;
  padding: 20px;
}

.addMemberForm button {
  align-self: flex-end;
  margin-right: 90px;
}

.form,
.formm {
  width: 950px;
  height: 250px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: space-between;
  align-items: center;

  input {
    width: 200px;
    font-size: 1.5rem;
    margin-left: 15px;
  }

  input:focus {
    outline: none;
  }

  label {
    font-size: 1.3rem;
  }
}

.pagination {
  @include flexBox();
  flex-direction: row;
  color: white;
  padding-bottom: 10px;
  padding-top: 25px;
}

#paginationBtn {
  padding: 5px;
  padding-left: 14px;
  padding-right: 14px;
  margin: 5px;
  background: none;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

#paginationBtn:focus {
  background-color: #af5ff6;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.loading {
  background-color: #141414;
  color: white;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }
}

.footer {
  background-color: #141414;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  border-top: 1px solid #af5ff6;

  .allRights {
    color: whitesmoke;
    display: flex;
    justify-content: center;
  }
}

#fullname {
  padding-right: 20px;
}

#icon {
  padding-right: 15px;
}

#calendar {
  padding-left: 5px;
}

#memberH1 {
  color: white;
  font-size: 2.8rem;
  text-align: center;
}

#success {
  color: #af5ff6;
}

.addedDateText {
  color: #af5ff6;
  padding-top: 10px;
}

.AddedText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.select__control {
  background-color: #000000 !important;
  border: none !important;
  border-bottom: 1px solid whitesmoke !important;
  border-radius: 0px !important;
  outline: none !important;
}

.css-1rhbuit-multiValue {
  background-color: #da22ff !important;
  color: white !important;
}

.css-12jo7m5 {
  color: white !important;
}

.addmovieForm select:active {
  outline: none !important;
}

@media only screen and (max-width: 767px) {
  .movies {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
    height: 650vh !important;
  }

  .loginPage {
    height: 100vh !important;
  }

  .movie {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    padding: 0px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .movie img {
    width: 100% !important;
    height: 100% !important;
  }

  .movie span {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .loading h1 {
    font-size: 1.5rem !important;
  }

  .movie-icons {
    width: 50% !important;
  }

  .member-icons {
    width: 35% !important;
  }

  .movie-icons svg,
  .member-icons svg {
    font-size: 2rem;
  }

  .header {
    width: 100% !important;
  }

  .header-container {
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .logo {
    width: 50% !important;
    display: flex !important;
    justify-content: flex-end !important;
    font-size: 2rem !important;
  }

  .header-container h1 {
    font-size: 17px !important;
  }

  .nav {
    width: 40% !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .logout {
    width: 100% !important;
  }

  .userInfo {
    width: 70% !important;
    display: flex !important;
    flex-direction: column;
  }

  #fullname {
    display: none !important;
  }

  .hero {
    width: 100% !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    background-size: cover !important;
  }

  .hero-text {
    width: 100% !important;
    padding-left: 25px;
    padding-right: 25px;
  }

  .logo h1 {
    font-size: 17px !important;
  }

  .hero-text h1 {
    font-size: 3rem !important;
  }

  .hero-text span {
    font-size: 1.4rem !important;
  }

  .searchBar {
    width: 100% !important;
  }

  .searchBar input {
    width: 300px !important;
  }

  .subsWatched {
    width: 100% !important;
    height: 68% !important;
    margin-top: -110px !important;
  }
  .subsWatched span {
    padding: 0px !important;
    margin: 0px !important;
  }

  .specificMovie {
    height: 110vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .specificMovieCard {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    text-align: center !important;
  }

  .specificMovieCard img {
    width: 100% !important;
    height: 40vh !important;
  }

  .specificContent {
    width: 100% !important;
  }

  .subscriptionsPage {
    height: 230vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
  }

  .memberDiv {
    margin: 10px;
  }

  .form {
    display: flex !important;
    flex-direction: column !important;
    height: 60vh !important;
    justify-content: space-evenly !important;
    align-items: flex-start !important;
    width: 100% !important;
  }

  .formm {
    display: flex !important;
    flex-direction: column !important;
    height: 60vh !important;
    justify-content: space-evenly !important;
    align-items: flex-start !important;
    width: 100% !important;
    padding-left: 50px !important;
  }

  .addMovieForm {
    height: 75vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
  }

  .file-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px !important;
  }

  .addMovieForm h1 {
    width: 100% !important;
    padding: 0px !important;
    font-size: 25px !important;
    text-align: center !important;
  }

  input[type="file"] {
    padding-bottom: 20px !important;
    font-size: 20px;
    width: 200px !important;
    background: none !important;
    margin: 0 auto !important;
  }

  .select__control.css-1s2u09g-control {
    width: 300px;
  }

  .addMemberForm {
    width: 100% !important;
  }

  .addMemberForm h1 {
    padding-left: 0px !important;
    padding-top: 15px !important;
  }

  .btns {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    padding-top: 25px !important;
  }

  .addMovieBtn {
    font-size: large !important;
  }

  .addMemberForm {
    height: 70vh !important;
  }

  .addMemberForm h1 {
    width: 100% !important;
    font-size: 50px !important;
    text-align: center !important;
  }

  .LoginForm {
    padding: 0px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
    text-align: center !important;
    width: 350px;

    p {
      padding-top: 10px;
    }

    h1 {
      font-size: 1.3rem !important;
      width: 100%;
      padding-right: 5px;
    }

    .svg-inline--fa.fa-video {
      color: #9733ee;
    }
  }

  .LoginForm input {
    width: 280px !important;
  }

  .logo {
    display: flex !important;
    justify-content: center !important;
  }

  .loginBtn {
    text-align: center !important;
    margin: 0 auto !important;
  }

  .footer {
    width: 100% !important;
  }
}
